
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}

h1 {
    text-align: center;
    color: #333;
}

.book-list {
    max-width: 700px;
    margin:  auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: repeat(1,1fr);
}

.book {
    border-bottom: 1px solid #ccc;
    padding: 10px ;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    cursor: grab;
    display: grid;
    grid-template-columns: repeat(2,1fr);

    
}

.book:last-child {
    border-bottom: none;
}

.title {
    font-size: 30px;
    color: hsl(211, 57%, 58%);
}

.author {
    font-size: 20px;
    color: hsl(0, 23%, 54%);
}

.rating {
    font-size: 15px;
    color: #1b0e0e;
    font-weight: bold;
}
.book img{
    height: 200px;
    width: 200px;
}
